<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd">

        <context:property-placeholder location="classpath:org/nazarov/vlad/filenames.properties"/>

        <bean id="soutConsumer" class="org.nazarov.vlad.SoutConsumer"/>

        <bean id="fileConsumer" class="org.nazarov.vlad.FileConsumer">
                <constructor-arg name="pathToResult" value="${file_result.path}"/>
        </bean>

        <bean id="infomationOfNameService" class="org.nazarov.vlad.InformationOfNameService">
                <constructor-arg name="consumer" ref="fileConsumer"/>
                <constructor-arg name="directory" value="${directory.path}"/>
        </bean>


</beans>